<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ring2.admin.core.mapper.CourseCategoryMapper">
  <resultMap id="BaseResultMap" type="xyz.ring2.admin.core.entity.CourseCategory">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cate_name" jdbcType="VARCHAR" property="cateName" />
    <result column="cate_pid" jdbcType="BIGINT" property="catePid" />
    <result column="cate_level" jdbcType="INTEGER" property="cateLevel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, cate_name, cate_pid, cate_level
  </sql>
</mapper>