<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ring2.admin.core.mapper.RoleMapper">

    <select id="selectRolesByUserId" resultType="xyz.ring2.admin.core.entity.Role">
        select * from back_role where id in
         (select role_id from back_user_role_rel where user_id = #{id} );
    </select>
</mapper>
